.test-banner {
    color: rgba(red, 0.5);
    background-color: rgba(black, 0.3);
    text-align: center;
    font-size: x-large;
    position: fixed;
    top: 0;
    left: 0;
    height: 1.75rem;
    z-index: 10000000;
}

.site-navigation {
    position: fixed;
    top: 30px;
    right: 20px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(black, 0.2);
    z-index: 999999;

    #open, #close {
        font-size: 30px;
        color: $primary-colour;
        padding: 0px;
        margin: 0px;
        z-index: 999999;

    }
}

.svg-icon {
    max-height: 2rem;
    width: auto;
}

a.white-icon-button {
    color: white !important;
}



#site-navigation-menu {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 230px;
    background-color: $primary-colour;
    color: white;
    box-shadow: 2px 2px 5px rgba(black, 0.2);
    z-index: 99999;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    ul {
        list-style: none;
    }

    ul li a {
        color: white;
        line-height: 2;
        cursor: pointer;
    }
}



.site-branding {
    margin: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-image {
    width: 100%;
    max-width: 150px;
    height: auto;
}

@mixin round-link-blue {
    position: fixed;
    background-color: $primary-colour;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(black, 0.2);
}

.standalone-call-link {
    @include round-link-blue;
    top: 40px;
    right: 220px;
    z-index: 99999999;
}

.standalone-home-link {
    @include round-link-blue;
    top: 40px;
    right: 160px;
    z-index: 9999999;
}

.standalone-brickflow-link {
    @include round-link-blue;
    top: 40px;
    right: 100px;
    z-index: 999999;
}

.account-access-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
    color: white;
    text-align: center;
    z-index: 99999;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 10rem;
        pointer-events: all;
    }
}

@media only screen and (min-width: $tablet-width) {
    .standalone-call-link, .standalone-brickflow-link, .standalone-home-link {
        display: grid;
    }
    .site-navigation {
        top: 40px;
        right: 40px;
    }
    .header-image {
        width: 100%;
        max-width: 250px;
        height: auto;
    }
}