html {
    height: auto;
    min-height: 100%;
    position: relative;
}

body {
    background-image: url('../img/squareswhitebgbottomright.svg'), url('../img/squareswhitebgtopleft.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left top;
    background-size: 150px auto,100px auto;
    font-family: $sans-serif-font;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    //min-height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.container {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.padding-left {
    padding-left: 0.5rem;
}

.centred-column {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    background-color: $content-background;
    border: 1px solid $blue-ultralight;
    padding: 0rem;
    min-width: 280px;
    box-shadow: 0px 0px 100px rgba($primary-colour, 0.1);
    border-radius: 0.5rem;
}

.narrow-page {
    max-width: 600px;
}

.wide-page {
    max-width: 1200px;
}

.modal-container {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .centred-column {
        pointer-events: all;
    }
}

.col-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.layout-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-col-3 {
    width: 100%;
}

.layout-col-6 {
    width: 100%;
}

.layout-col-9 {
    width: 100%;
}

.layout-sub-col-5 {
    width: 100%;
}

.layout-sub-col-6 {
    width: 100%;
}

.layout-sub-col-7 {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: $large-mobile-width) {
    body {
        background-size: 200px auto,150px auto;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: $tablet-width) {
    body {
        background-size: 250px auto,250px auto;
    }

    .centred-column {

    }

    .layout-sub-col-5 {
        width: 100%;
    }

    .layout-sub-col-6 {
        width: 100%;
    }

    .layout-sub-col-7 {
        width: 100%;
    }

    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .flex-row {
        flex-direction: row;
        align-items: stretch;

        p {
            flex-grow: 1;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .layout-sub-col-6 {
        width: 100%;
    }
}

@media only screen and (min-width: $desktop-width) {
    body {
        background-size: 350px auto,400px auto;
    }

    .mobile {
        display: none;
    }

    .layout-col-3 {
        width: 25%;
    }

    .layout-col-6 {
        width: 50%;
    }

    .layout-col-9 {
        width: 75%;
    }

    .centred-column {

    }

    .layout-sub-col-5 {
        width: 41.6%;
    }

    .layout-sub-col-6 {
        width: 50%;
    }

    .layout-sub-col-7 {
        width: 58.4%;
    }

    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

//basic grid system

.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: column;
}

.grid-col-50 {
    flex-grow: 1;
    padding: 0.5rem;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.standard-padding {
    padding: 0.1rem;
}

@media only screen and (min-width: $tablet-width) {
    .standard-padding {
        padding: 1rem;
    }
    .grid-col-50 {
        width: 50%;
        justify-content: left;
        text-align: left;
    }

    .grid-row {
        flex-direction: row;
    }
}

.title-bar-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    * + * {
        margin-left: 1rem;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}