.compare-container{
    margin: 0 auto;
}

.compare-container-1{
    //max-width: 300px;
}
.compare-container-2 {
    //max-width: 450px;
}
.compare-container-3 {
    //max-width: 600px;
}


td.highlight-compare{
    font-weight: bold;
    background-color: transparent;
}




/* CUSTOM STYLE =====================

==============================================*/

.hidden {
    display: none;
}

button {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* PLACEHOLDER STYLE =====================

==============================================*/



.placeholder-style::-webkit-input-placeholder {
    color: #d08026;
}

.placeholder-style::-moz-placeholder {
    color: #d08026;
}
/* Firefox 19+ */

.placeholder-style:-moz-placeholder {
    color: #d08026;
}
/* Firefox 18- */

.placeholder-style:-ms-input-placeholder {
    color: #d08026;
}



/* HIDDEN PLACEHOLDER =====================

==============================================*/



input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}



/* CLEARFIX =====================

==============================================*/



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* MAIN STYLE =====================

==============================================*/



.main-wrapper {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
}

.header-result__name {
    position: relative;
    margin-bottom: 36px;
}

.header-result__info {
    margin-bottom: 48px;
}

.info-location,
.info-value {
    float: left;
    width: 320px;
}

.header-result__name h1 {
    color: #69c4eb;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 18px;
}

.header-result__name p {
    color: #2d2d2d;
    font-weight: 400;
    line-height: 19px;
}

.default-button {
    color: #ffffff !important;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    padding: 16px 18px 16px;
    display: inline-block;
    border-radius: 8px;
    background-color: #b2b2b2;
}

.button-green {
    background-color: #aad47d;
}

.header-result__name .default-button {
    position: absolute;
    right: -154px;
    top: 22px;
}

.header-result__info p,
.header-result__info b {
    color: #2d2d2d;
    margin-bottom: 8px;
    display: block;
}

.option__column-name,
.option__column-description {
    min-height: 42px;
    margin-bottom: 8px;
}

.option-result {
    margin-bottom: 30px;
}

.option-result > .wrapper__option-row {
    display: flex;
}

.name-rows h3 {
    color: #2d2d2d;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}

.link-back {
    display: none;
    width: 20px;
    height: 41px;
    background-image: url(../img/Back_Chevron.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.name-rows {
    display: none;
}

.option__column-name {
    position: relative;
    /*line-height: 3rem;*/
    color: #fff;
    background-color: #69c4eb;
    text-align: center;
}

.option__column-name:before {
    display: none;
    position: absolute;
    left: 0;
    width: 50%;
    height: 32px;
    content: "";
    background-image: url(../img/icons/building-multi.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.option-row {
    width: 230px;
}

.option-row260 {
    width: 260px;
}

.option-row__name {
    width: 200px;
    margin-right: 10px;
}

.icons-name {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -15px;
    width: 29px;
    height: 32px;
    background-image: url(../img/icons/building-multi.svg);
    display: none;
}

.icon-info {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -12px;
    width: 25px;
    height: 24px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    background: #ffffff url(../img/i.png);
    background-position: center;
    background-repeat: no-repeat;
}

.column-names {
    position: relative;
    color: #2d2d2d;
    font-weight: 400;
    height: 3rem;
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
    display: table;

    p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.option__column-description {
    position: relative;
    color: #2d2d2d;
    text-align: center;
    border: 1px solid #979797;
}

.option__column-description:before {
    width: 50%;
    color: #2d2d2d;
    content: attr(data-th);
    display: none;
}

.option-row {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper-buttons {
    max-width: 570px;
    width: 100%;
    text-align: center;
    //float: right;
    //border-top: 1px solid #ccc;
}

.wrapper-buttons .default-button {
    margin: 0 4px;
}



/* Popup  ==============

==================================*/



.open-popup {
    position: relative;
    margin: 40px auto;
    padding-top: 134px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;
    max-width: 540px;
    border-radius: 8px;
    background-color: #ffffff;
}



.option-popup {
    float: left;
    max-width: 268px;
    width: 55%;
}

.option-popup__name {
    float: left;
    width: 45%;
}

.option-popup__name .column-names {
    text-align: left;
    color: #69c4eb;
}

.option-popup__name .column-names .icons-name {
    display: block;
}

.popup-column {
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 5px;
    margin-bottom: 20px;
}

.wrapper__detail-popup .popup-column {
    overflow: inherit;
    max-height: 100%;
}

/* width */

.popup-column::-webkit-scrollbar {
    width: 10px;
}



/* Track */

.popup-column::-webkit-scrollbar-track {
    background: #f1f1f1;
}



/* Handle */

.popup-column::-webkit-scrollbar-thumb {
    background: #888;
}



/* Handle on hover */

.popup-column::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.popup-foot__button {
    text-align: center;
}

.popup-foot__button .default-button {
    margin-right: 10px;
    margin-left: 10px;
}

.popup-foot__button .default-button:first-child {
    margin-left: 0;
}

.popup-foot__button .default-button:last-child {
    margin-right: 0;
}

.popup-table .column-names {
    float: left;
    width: 45%;
    text-align: left;
    color: #69c4eb;
}

.popup-table .name-rows {
    display: block;
    width: 45%;
    text-align: center;
}

.popup-table .column-names .icons-name {
    display: block;
}

.popup-table .option__column-description,
.popup-table .option__column-name {
    float: left;
    width: 55%;
}

.popup-table .option__column-name {
    position: relative;
}

.popup-table .option__column-name:before {
    display: none;
}

.popup-table .option__column-name .icon-info {
    margin-top: -12px;
}

.wrapper__detail-popup {
    max-width: 540px;
    margin: 0 auto;
}

.popup-table div:hover .hidden-hover {
    opacity: 1;
    visibility: visible;
    left: calc(100% + 10px);
}

.hidden-hover {
    width: 240px;
    position: absolute;
    left: calc(100% + 40px);
    top: -1px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.hidden-hover__heading .col_6 {
    background: #69c4eb !important;
    color: #ffffff;
    border: 1px solid #69c4eb !important;
}

.hidden-hover__heading .col_6:last-child {
    border-left: 1px solid #8bd2f0 !important;
}

.hidden-hover .col_6 {
    background: #fff;
    border: 1px solid #979797;
    min-height: 46px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.hidden-hover .col_6:nth-child(even) {
    border-right: 0;
}

.icon-info-blue {
    position: relative;
    top: 3px;
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #69c4eb url(../img/i-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* MY CSS GRID */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/*.container {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}*/

/*.row {
    margin-left: -10px;
    margin-right: -10px;
}*/

/*.row:after {
    display: block;
    height: 0;
    content: ".";
    visibility: hidden;
    clear: both;
}*/

.col_1 {
    width: 8.333333333333333%
}

.col_1-5 {
    width: 20%
}

.col_2 {
    width: 16.66666666666667%;
}

.col_3 {
    width: 25%;
}

.col_4 {
    width: 33.33333333333333%;
}

.col_5 {
    width: 41.66666666666667%;
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: 58.33333333333333%;
}

.col_8 {
    width: 66.66666666666667%;
}

.col_9 {
    width: 75%;
}

.col_10 {
    width: 83.33333333333333%;
}

.col_11 {
    width: 91.66666666666666%;
}

.col_12 {
    width: 100%;
}

[class*=col_] {
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    position: relative;
    padding: 0px 0px;
}

/*@media only screen and (min-width : 721px) {

    .container {
        width: 720px;
    }
}

@media only screen and (min-width : 1100px) {

    .container {
        width: 1100px;
    }
}

@media only screen and (min-width : 992px) {

    .container {
        width: 970px;
    }
}

@media only screen and (min-width : 1024px) {

    .container {
        width: 1024px;
    }
}

@media only screen and (min-width : 1221px) {

    .container {
        width: 1220px;
    }
}*/



/*==========  Desktop First Method  ==========*/



@media only screen and (max-width : 1024px) {

    .header-result__name .default-button {
        right: 0;
    }
}



@media only screen and (max-width : 1104px) {

    .hidden-hover,
    .popup-table div:hover .hidden-hover {
        left: 0;
        top: auto;
        bottom: calc(100% + 5px);
    }

    .hidden-hover {
        box-shadow: 0 0px 10px 1px rgba(51, 51, 51, 0.3);
    }
}



@media only screen and (max-width : 720px) {

    .header-result {
        padding-left: 15px;
        padding-right: 15px;
    }

    .option-row,
    .option-row260 {
        width: 35%;
    }

    .option-row__name {
        width: 28%;
    }

    .info-location,
    .info-value {
        width: 50%;
    }
}



@media only screen and (max-width : 640px) {

    .wrapper-buttons {
        float: none;
        max-width: 100%;
        text-align: left;
        padding-left: 17px;
        padding-right: 17px;
    }
}



@media only screen and (max-width : 600px) {

    .option-result {
        /*overflow-y: hidden;*/
    }

    .option-row, .option-row260 {
        width: 215px;
    }

    .option-row__name {
        width: 160px;
        margin-right: 5px;
    }

    .wrapper__option-row {
        width: 600px;
    }

    .header-result {
        display: none;
    }

    .option__column-description {
        white-space: nowrap;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;
    }

    .icons-name {
        display: block;
    }

    .link-back {
        display: block;
    }

    .wrapper-buttons {
        text-align: center;
    }

    .popup-foot__button,
    .wrapper-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #fff;
        z-index: 10000;
    }

    .main-wrapper {
        padding-bottom: 100px;
        overflow-x: auto;
    }
}



@media only screen and (max-width : 540px) {

    .wrapper__detail-popup {
        padding-left: 5px;
    }

    .popup-table .name-rows {
        left: 0;
    }

    .open-popup {
        padding-top: 40px;
        padding-right: 10px;
        padding-bottom: 40px;
    }

    .name-rows {
        display: block;
        text-align: center;
        position: relative;
        left: -50%;
    }

    .main-wrapper {
        padding-top: 30px;
    }
}



@media only screen and (max-width : 480px) {

    .hidden-hover, .popup-table div:hover .hidden-hover {
        left: auto;
        right: 0;
    }

    .popup-table .name-rows {
        width: 100%;
    }

    .popup-table .column-names {
        color: #2d2d2d;
    }

    .icon-info-blue {
        display: none;
    }
}



@media only screen and (max-width : 414px) {

    .hidden-hover {
        display: none;
    }

    .option__column-description {
        overflow: hidden;
    }

    .popup-table .option__column-name .icon-info {
        margin-top: 0;
        right: 6px;
        top: 7px;
    }
}



/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

    .popup-foot__button .default-button,
    .wrapper-buttons .default-button {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .popup-foot__button .default-button:last-child,
    .wrapper-buttons .default-button:last-child {
        margin-bottom: 0;
    }
}
