


.results-header {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    @media (max-width: 1100px) {
        margin: 1rem 0;

    }

    .actions {

        @media (min-width: 1100px) {
            position: absolute;
            right: 3rem;
            top: 1rem;
        }

        @media (max-width: 1100px) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background: #ffffff;
            z-index: 1000;
            padding: 1rem 0;
        }
    }

    .results-summary {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;

        p {
            width: 40%;
            margin: 0.25rem 0;
            margin-right: 1rem;
        }

        @media (max-width: 1100px) {
            p {
                width: calc(50% - 0.25rem);
                margin: 0.25rem 0;
                margin-right: .25rem;
            }
        }
    }
}

.lender-results {
    margin: 2rem 2rem 2rem 2rem;
    min-height: calc(100vh - 10rem);
    background-color: rgba(#ffffff,0.9);
    border: 1px solid rgba($primary-colour,0.1);
    padding: 1rem;

    @media (max-width: 1100px) {
        margin: 0.5rem;
        padding-bottom: 2rem;
        min-height: calc(100vh - 8rem);
    }


    .loading::after {
        content: "Searching loan database...";
        position: absolute;
        top: calc(50% + 3rem);
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .offer-group-header {
        padding: 1rem;
        margin: 1rem 1rem;
        width: calc(100% - 2rem);

        thead {
            td:nth-child(-n+9) {
                border-right: 1px solid $secondary-colour !important;
            }

            .highlight {
                border-right: 1px solid $primary-colour !important;
            }
        }
    }


    .offer-group {
        border: 1px solid $grey-ultralight;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;

        h2 {
            margin: 0;
            margin-bottom: 0.75rem;
        }

        .highlight {
            border: 1px solid $primary-colour !important;
        }

        td:nth-child(10) {
            border-right: 1px solid $primary-colour !important;
        }
    }

    .mobile {
        .offer-group {
            position: relative;

            input[type=checkbox] {
                position: absolute;
                top: 0.5rem;
                right: 0.25rem;
            }

            padding: 0.25rem 0.5rem;

            table {
                td {
                    padding: 0.25rem 0.5rem;

                    &.label {
                        border: 1px solid $grey-dark;
                    }
                }
            }

            div.more {
                margin-top: 0.5rem;
                text-align: center;
            }
        }
    }

    .search-options {
        float: right;

        label {
            input {
            }
        }
    }
}

.button-cluster{
    display: flex;
    flex-direction: row;
}
.button-cluster-right{
    text-align: right;
    width: 40%;
}
.button-cluster-left {
    text-align: left;
    width: 60%;
}

@media only screen and (max-width: 1220px){

    .button-cluster {
        width: auto;
        position: fixed;
        z-index: 99999;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: white;
        border-top: 1px solid $grey-medium;
        text-align: center !important;
        //padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button-cluster-left, .button-cluster-right {
        width:auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .progress{
        display: none;
    }
}

.results-header-banner{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.results-header-banner-left {
    
}
.results-header-banner-right {
   
}
.results-proffees{
    flex-grow: 1;
}

.results-proffees button{
    align-self: flex-end;
    text-align: right;
}

.table-centre{
    text-align: center;
}

.saveResultsPopup {
    position: fixed;
    left: 10px;
    top: 40px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #888;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(black, 0.4);
    z-index: 99999;
    .button {
        margin-top: 2rem;
    }

    @media only screen and (min-width: 768px) {
        width: 800px;
        top: 50%;
        left: 50%;
        right: 50%;
        margin-top: -150px;
        margin-left: -400px;
    }
}

.lender-results-summary {
    display: flex;
    flex-direction: column;

    .results-summary {
        display: flex;
        flex-direction: column;
        p{
            width: 100%;
        }
    }

    @media only screen and (min-width: 768px) {
        flex-direction: row;

        .results-summary {
            flex-direction: row;
            p{
                width: 40%;
            }
        }
    }
}