.sidebar-menu-page {
    background-color: rgba(#ffffff,0.9);
    border: 1px solid rgba($primary-colour,0.1);
    display: flex;
    flex-direction: row;
}

.left-menu {
    min-width: 250px;
    line-height: 1.5rem;
    flex-grow: 0;
    background-color: $grey-ultralight;
    padding: 1rem;
}

.left-menu-page-main {
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
}

.pagination{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li{
            padding: 5px;
        }
}