/* Import global styles */

// Defaults

@import "base/normalize";
@import "base/reset";
@import "base/responsive";
@import "base/colours";
@import "base/typography";
@import "base/forms";
@import "base/tables";
@import "base/buttons";
@import "base/widgets";

// Layout & Structure

@import "layout/skeleton";
@import "layout/footer";
@import "layout/header";

// Components

@import "components/compare";
@import "components/criteria";
@import "components/dashboard";
@import "components/lender";
@import "components/lenderresults";
@import "components/listeditor";
@import "components/login";
@import "components/modalspopups";
@import "components/shell";

.dot {
  display: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.content.static {
  margin: 2rem 5%;
  background-color: rgba(#ffffff, 0.9);
  border: 1px solid rgba($primary-colour, 0.1);
  padding: 1rem 2rem;
}

.content.loggedin {
  margin-top: 2rem;
}

.banner-displayed {
  //margin-top: 1rem;
}

.full-centre {
  position: fixed;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.centre {
  margin-top: 1rem;
  text-align: center;
}

.right {
  text-align: right;
  margin-right: 0.5rem;
}

.well-padded {
  width: 70%;
  margin-left: 15%;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media (max-width: 1220px) {
  &.desktop {
    display: none;
  }

  &.mobile {
    display: block;
  }
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 1000;

  .left {
    position: absolute;
    left: 0;
  }

  .right {
    position: absolute;
    right: 0;
  }
}

.loading {
  //opacity: 0.5;
  position: relative;
}

table.loading {
  display: block;
  min-height: 10rem;
}

.loading::before {
  content: url("/Web/img/FMD_Animated.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}
.color-selected {
  background-color: $secondary-colour !important;
  color: white !important;
}

.account-settings {
  display: grid;

  input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-success {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #1e561f;
    color: #1e561f;
  }

  .form-error {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #973937;
    color: #973937;
  }
}

//IE fixes

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .site-navigation {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .sidebar-menu-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .left-menu {
    flex-grow: 0;
    margin-right: 40px;
  }
}

.form-narrow-column {
  margin: 0 auto;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-align-left {
  text-align: left;
  width: 50%;
  display: flex;
  align-items: center;
}

.form-align-right {
  text-align: right;
  width: 50%;
  display: flex;
  align-items: center;
}

.spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.skill-list {
  p {
    background-color: $secondary-colour;
    padding: 10px;
    margin: 10px;
  }

  .fas {
    margin-left: 10px;
    margin-right: 10px;
  }

  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-weight: bold;
  color: $primary-colour;
}

.cookie-consent {
  position: fixed;
  bottom: 20px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid $primary-colour;
  background-color: $blue-ultralight;
  color: $primary-colour;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000000000;
}

.close-cookie-consent {
  width: 1.4rem;
  height: 1.4rem;
  background-color: $primary-colour;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  position: absolute;
  top: 100px;
  left: 50%;
  width: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  padding: 3rem;
  align-items: stretch;
  background-color: white;
  border: 1px solid $primary-colour;
  background-color: white;
  color: $primary-colour;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 10000000000;
  flex-direction: column;
}
@media screen and (min-width: $large-mobile-width) {
}
@media screen and (min-width: $tablet-width) {
}
@media screen and (min-width: $desktop-width) {
}
.home-link-popup {
  top: 0px;
  right: 83px;
  width: unset;
  padding-left: 0.5rem;
  margin-right: unset;
  margin-top: unset;
}
.home-link-popup::before {
  border-left: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 81px;
  top: 33px;
}
