@import "responsive";

$sans-serif-font: Montserrat, Arial, sans-serif;

//Site text

$mobile-font-size: 0.7rem;
$large-mobile-font-size: $mobile-font-size + 0.1rem;
$tablet-font-size: $mobile-font-size + 0.1rem;
$desktop-font-size: $mobile-font-size + 0.2rem;

body {
  font-family: $sans-serif-font;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: $main-heading-colour;
  font-size: $mobile-font-size + 0.4rem;
  font-weight: bold;
  margin: $mobile-font-size + 0.4rem 0;
}

h2 {
  color: $sub-heading-colour;
  font-size: $mobile-font-size + 0.2rem;
  font-weight: bold;
  margin: $mobile-font-size + 0.2rem 0;
}

h3 {
  color: $sub-heading-colour;
  font-size: $mobile-font-size;
  font-weight: bold;
  margin: $mobile-font-size 0;
}

h4 {
  color: $sub-heading-colour;
  font-size: $mobile-font-size - 0.2rem;
  font-weight: bold;
  margin: $mobile-font-size - 0.2rem 0;
}

p,
label,
.button,
li {
  color: $paragraph-colour;
  font-size: $mobile-font-size;
  margin: $mobile-font-size 0;
  line-height: $mobile-font-size + 0.4rem;
  font-weight: 500;
}

@media only screen and (min-width: $large-mobile-width) {
  h1 {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  h2 {
    font-size: 1rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 0.8rem;
    margin: 0.8rem 0;
  }

  h4 {
    font-size: 0.7rem;
    margin: 0.7rem 0;
  }

  p,
  label,
  .button,
  li {
    color: $paragraph-colour;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media only screen and (min-width: $tablet-width) {
  h1 {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  h2 {
    font-size: 1rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 0.8rem;
    margin: 0.8rem 0;
  }

  h4 {
    font-size: 0.7rem;
    margin: 0.7rem 0;
  }

  p,
  label,
  .button,
  li {
    color: $paragraph-colour;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media only screen and (min-width: $desktop-width) {
  h1 {
    font-size: 1.3rem;
    margin: 1.6rem 0;
  }

  h2 {
    font-size: 1.1rem;
    margin: 1.2rem 0;
  }

  h3 {
    font-size: 0.9rem;
    margin: 0.9rem 0;
  }

  h4 {
    font-size: 0.8rem;
    margin: 0.8rem 0;
  }

  p,
  label,
  .button,
  li {
    color: $paragraph-colour;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}

//Button text

.button {
  color: white;
  font-family: $sans-serif-font;
  font-size: 0.7rem;
  font-weight: 400;
}

@media only screen and (min-width: $tablet-width) {
  .button {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: $desktop-width) {
  .button {
    font-size: 0.9rem;
  }
}

//Input text

input,
select,
label,
.checkbox p,
textarea {
  color: $primary-colour;
}

//Link text

a,
a:active,
a:visited {
  color: $primary-colour;
  text-decoration: none;
}

a:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.menu-name-heading {
  color: white !important;
  ///font-weight: bold;
  margin-bottom: 20px;
  font-size: 1rem;
}

@mixin message {
  padding: 1rem;
  margin: 0.5rem;

  p {
    margin: 0px;
    padding: 0px;
  }
}

.info-message {
  @include message;
  border: 1px solid $accent-colour;
  background-color: rgba($accent-colour, 0.5);
  text-align: center;
}

.warning-message {
  @include message;
  border: 1px solid $warning-colour;
  background-color: rgba($warning-colour, 0.5);
  text-align: center;
}
